
@{
    Layout = null;
}

<h1>Burası Sehir Paneli</h1>
<table >
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Nufus</th>
        <th>Ülke</th>
    </tr>
    <tr>
        <td>@ViewBag.e1</td>
        <td>@ViewBag.e2</td>
        <td>@ViewBag.e3</td>
        <td>@ViewBag.e4</td>
    </tr>
</table>